
.component-menu{
    
}
#navbar{
    background-color:transparent;
    height: 35px;
    padding-top:10px;
    
    // position:fixed;
    // top:0;
    // width:100%;
}

.tabs{
    float:left;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;

}

#logouttab{
    float:right;
    color: white;
    text-decoration: none;
    padding-right: 15px;
}

#logouttab:hover{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
   color: black;
}

.tabs:hover{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
   color: black;
}