
.component-accept-order-reject{
    
}
.styled-table-accrj{
    border-collapse: collapse;
    //margin: 25px 0;
    align-items: center;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
}
.styled-table-accrj thead tr {
    background-color: green;
    color: #ffffff;
    text-align: left;
    font-weight: bolder;
}
.styled-table-accrj th,
.styled-table-accrj td {
    padding: 12px 15px;
}
.styled-table-accrj tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-accrj tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-accrj tbody tr:last-of-type {
    border-bottom: 2px solid green;
}
#btn-ar{
    background: linear-gradient(18deg, rgba(255, 0, 0, 0.928) 4%, rgb(241, 118, 17) 30%, rgb(233, 214, 103) 70%);
    color: white;
    padding-left: 22px;
    padding-top: 5px;
    padding-right: 22px;
    padding-bottom: 5px;
    font-size: 0.9em;
    font-family: sans-serif;
}

#btn-ar:hover{
    color: rgb(22, 21, 21);
    background-color: rgb(21, 22, 21);
    font-weight: bold;
}